body {
    margin: 0;
    background-color: #242E49;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 25px;
}

.bookstore-logo {
    width: 54px;
    padding-right: 20px;
}

.headline {
    font-size: 46px;
    color: white;
}

.navbar {
    background-color: #37415C;
}

@media (max-width: 756px) {
    .bookstore-logo {
        width: 46px;
    }
}