body {
    margin: 0;
    background-color: #242E49;
}

.bookstore-logo {
    width: 54px;
    padding-right: 20px;
}

.headline {
    font-size: 46px;
    color: white;
}

.next-headline {
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

.navbar {
    background-color: #37415C;
}

.header {
    padding: 15px 0 15px 25px;
}